body {
  background: radial-gradient(#064e3b, #022c22);
  color: #eafff5;
  text-align: center;
  font-family: Arial;
}

canvas {
  background: linear-gradient(#064e3b, #022c22);
  border: 4px solid #22c55e;
}

